* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  background: gray;
  border: 1px solid;
  height: 500px;
  padding: 50px;
}

.modal-content {
  background: white;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 400px;
  width: 600px;
  margin: auto;
  padding: 30px;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;
  margin-bottom: 30px;
  height: 30px;
}

.modal-header img {
  height: 80px;
}

.modal-header p {
  font-size: 16px;
}

.input-user {
  display: flex;
  text-align: center;

  width: 300px;
  height: 30px;

  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {

  .modal-content {
  
    height: 400px;
    width: 80vw;
   

  }

  .content {

    background: gray;
    border: 1px solid;
    height: 500px;
    padding: 50px 0px;
  }

  .input-user {
    width: 60vw;
  }
  
}


